:root {
    --space-jet: #191919; /* Somewhere between space gray and jet black. */
}
.top-bar {
    background-color: var(--space-jet);
}
.top-bar ul {
    background-color: var(--space-jet);
}

.nav-totem {
    margin-top: 15px;
}

.mailing-list-check-box label {
    display: inline;
}

.do-connect-button {
    margin-top: 30px;
}

.do-connect-close-button {
    margin-left: 14px;
}

#email-connect {
    height: 106px;
    width: 836px;
}

#text-connect {
    height: 76px;
    width: 836px;
}
